@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");

@page {
  size: 21cm 29.7cm;
  margin: 30mm 45mm 30mm 45mm;
}
* {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  padding: 0;
  box-sizing: border-box;
  color: #555;
  text-transform: uppercase;
}
body {
  background-color: #172129;
}
body .elements {
  background-color: #f2f2f2;
}
ul h3,
article h3,
div h3 {
  font-size: 2em;
  color: #2924a6;
  letter-spacing: 5px;
  margin-bottom: 0;
}
ul li {
  list-style: none;
  margin: 5px auto;
  font-size: 1.1em;
  padding: 5px;
}
header {
  position: relative;
}
header figure {
  display: grid;
  grid-template-columns: 0.5fr 200px;
}
header figure img {
  position: absolute;
  top: -5px;
  left: 18vw;
  width: 20%;
  border: 10px solid #2924a6;
  border-radius: 50%;
}
header figure .retangule {
  background-color: #2924a6;
  width: 25vw;
}
header figure figcaption {
  font-size: 1.8em;
  color: #2c2c2c;
  margin: 0 auto;
}
/* INFORMATION SECTION */
.info {
  display: flex;
}
.info article {
  width: 100%;
}
.info article .abstract,
.info article ul {
  max-width: 50vw;
  margin: 10px auto;
  text-align: justify;
}
/* LATERAL INFO*/
aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10vw;
}
/* ACADEMIC RECORDS */

article ul h3 {
  text-align: left;
  width: 100%;
}
article ul li .title {
  display: flex;
  flex-direction: column;
}
article ul li .title h4 {
  color: #2924a6;
  margin: 0;
}
article ul li .title h5 {
  margin-top: 15px;
}
article ul li .description {
  display: flex;
  text-align: left;
  font-size: 0.9em;
}
article ul li ul {
  text-align: left !important;
  font-size: 0.8em;
  margin: 0 !important;
}
ul.academic-record li,
ul.works .role {
  border-left: 2px solid #2924a6;
}
/* FOOTER */

footer {
  padding: 20px;
  background: #2924a6;
}
footer .contacts {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}
footer .contacts a {
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  body .elements {
    width: 100vw;
  }
  aside {
    margin: 0;
  }
  p {
    margin: 0 1.2em;
  }
  /*  */
  header figure {
    display: grid;
    grid-template-columns: auto;
  }
  header figure img {
    position: static;
    min-width: 40%;
    margin: 10px auto 5px;
  }
  header figure .retangule {
    display: none;
  }
  header figure figcaption {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* SECTIONS ALIGNMENT */
  section {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    font-size: 1em;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul h3,
  div h3,
  article ul h3 {
    font-size: 1.2em;
    text-align: center;
  }
  ul li {
    font-size: 0.9em;
    margin: 5px auto;
    text-align: center;
  }
  .info article .abstract,
  .info article ul {
    max-width: 80vw;
  }
  /*  */
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .projects li {
    text-align: center;
  }
  /*  */
  article ul li .description {
    font-size: 0.8em;
    width: 80vw;
  }
  article ul li .description span {
    text-align: center;
    margin: 0 10px;
  }
  ul.academic-record li,
  ul.works .role {
    border-left: 2px solid #2924a6;
    min-width: 80vw;
  }
}
